In [15]:
import pandas as pd
from pathlib import Path

# auto reload magic
%load_ext autoreload
%autoreload 2
from agentlab.analyze import hparam_analysis

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
csv_path = Path("~").expanduser() / "bootstrap_analysis_data_0.csv"
df = pd.read_csv(csv_path)

df["base_exp_args_base_model_dir"] = df["base_exp_args_base_model_dir"].str.replace(
    "/mnt/adea/data/finetuning/base/", "", regex=False
)

In [17]:
metric_col = "avg_completion_reward"
hp_cols = list(df.columns)
hp_cols.remove("base_exp_args_wandb_job_id")
hp_cols.remove(metric_col)
hp_cols

['process_traces_args_pop_zero_advantage',
 'evaluation_args_use_curriculum',
 'base_exp_args_training_sampling_temperature',
 'process_traces_args_discount_rate',
 'base_exp_args_base_model_dir',
 'evaluation_args_agent_flags_obs_use_error_logs',
 'process_traces_args_apply_advantage',
 'finetuning_args_effective_batch_size',
 'epoch']

In [18]:
for focus_col in hp_cols:
    print(f"Focus column: {focus_col}")
    df_result = hparam_analysis.bootstrap_optimal_hparam(
        df,
        hp_cols,
        focus_col=focus_col,
        metric_col=metric_col,
        n_boot=1000,
    )
    display(df_result)

Focus column: process_traces_args_pop_zero_advantage

         prob
values
False   0.484
True    0.516

Focus column: evaluation_args_use_curriculum

         prob
values
False   0.891
True    0.109

Focus column: base_exp_args_training_sampling_temperature

         prob
values
0.1     0.407
0.25    0.127
0.5     0.435
0.75    0.029
1.0     0.002

Focus column: process_traces_args_discount_rate

         prob
values
0.5     0.000
0.8     0.000
0.9     0.003
0.95    0.000
0.98    0.721
1.0     0.276

Focus column: base_exp_args_base_model_dir

                                                     prob
values
20250427_022653_offline_miniwob_random_tasks_v5...  0.000
20250427_022653_offline_miniwob_random_tasks_v5...  0.000
20250427_022653_offline_miniwob_random_tasks_v5...  0.020
20250427_022653_offline_miniwob_random_tasks_v5...  0.000
20250427_022653_offline_miniwob_random_tasks_v5...  0.000
20250427_022653_offline_miniwob_random_tasks_v5...  0.000
20250427_022653_offline_miniwob_random_tasks_v5...  0.774
20250427_022653_offline_miniwob_random_tasks_v5...  0.206
20250427_022653_offline_miniwob_random_tasks_v5...  0.000
models--meta-llama--Meta-Llama-3.1-8B-Instruct      0.000

Focus column: evaluation_args_agent_flags_obs_use_error_logs

         prob
values
False   0.444
True    0.556

Focus column: process_traces_args_apply_advantage

         prob
values
False   0.002
True    0.998

Focus column: finetuning_args_effective_batch_size

         prob
values
64      0.000
128     0.035
256     0.000
512     0.566
1024    0.399

Focus column: epoch

         prob
values
0       0.003
1       0.002
2       0.005
3       0.000
4       0.063
5       0.000
6       0.004
7       0.000
8       0.002
9       0.005
10      0.000
11      0.101
12      0.114
13      0.201
14      0.000
15      0.079
16      0.043
17      0.000
18      0.000
19      0.083
20      0.001
21      0.005
22      0.009
23      0.001
24      0.000
25      0.076
26      0.000
27      0.091
28      0.005
29      0.073
30      0.034
31      0.000
32      0.000
33      0.000
34      0.000
35      0.000
36      0.000
37      0.000
38      0.000
39      0.000

In [ ]:
hparam_analysis.pedanova_importance(df, hp_cols, metric_col=metric_col)

In [ ]:
hparam_analysis.fanova_mc(df, hp_cols, metric_col=metric_col)

In [ ]:
hparam_analysis.fanova_df_(df, hp_cols, metric_col=metric_col)